// Blocks //
// --------------------------------------- // 
// --------------------------------------- //

.block {
	font-size: 2rem;
	padding: 2.5rem 3.5rem;
	border: 1px solid $black;
	border-left-width: 5px;
	
	&__title {
		color: $black;
		font-size: 2rem;
		font-weight: $fw-text-bold;
		
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}