// Buttons //
// --------------------------------------- //
// --------------------------------------- //

@mixin btn {
	font-family: $ff-text;
	font-size: 1.5rem;
	font-weight: $fw-text-bold;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	padding: 2rem 4.5rem;
	border-radius: 10rem;
	cursor: pointer;
	transition: $tr;

	// Reset //
	outline: none;
	appearance: none;
}

.btn-primary {
	background-color: $white;
	color: $black;
	&:hover {
		background-color: $white;
		color: $orange;
	}
}

.btn {
	@include btn;

	&--sm {
		font-size: 1.2rem;
		padding: 1rem 2rem;
	}

	// Color Variations //
	// The following lines allow you to control color in html //
	// Eg.: .btn.btn--white-orange--to-black //
	@each $name, $value in $theme-colors {
		&[class*="--white-#{$name}"] {
			color: $value;
			background-color: white;
		}

		&[class*="--#{$name}"] {
			color: white;
			background-color: $value;
		}

		&[class*="--to-#{$name}"] {
			@include hover-focus-active {
				color: white;
				background-color: $value;
			}
		}
	}

	&--light {
		color: white;
		background-color: $light;

		@include hover-focus-active {
			color: white;
			background-color: $black;
		}
	}
}
