// Cards //
// --------------------------------------- // 
// --------------------------------------- //

// Card mixin available in mixins/_cards.scss //

.card {
	@include card(
		$this-pa: 0,
		$this-bxs: none,
	);
	text-align: center;
	max-width: 295px;
	margin: 3rem;

	@include bp(xl) {
		margin: 3rem 6rem;
	}
	
	// Container //
	&__group {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: -3rem auto;
	}
	
	// Elements //
	&__inner {
		padding: 8rem 2rem 5rem 2rem;
		box-shadow: 1rem 1rem 5rem rgba($red, .15);
		transition: 1s ease all;
	}

	@include hover {
		& .card__inner {
			box-shadow: 6rem 6rem 10rem rgba($red, .35);
			transform: scale(1.1);
		}
	}

	&__illustration {
		margin-bottom: 5rem;
		
		& picture {
			max-width: 140px;
		}
		
		& img {
			max-width: 100%;
			height: auto;
		}
	}
	
	&__title {
		color: $black;
		font-family: $ff-head;
		font-size: 1.5rem;
		font-weight: $fw-head-demi;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}
	
	&__body {
		color: $gray;
		font-family: $ff-text;
		font-size: 2rem;
		font-weight: $fw-text-regular;
		line-height: 1.5;
		margin: 0;
	}
}