// Footer //
// --------------------------------------- //
// --------------------------------------- //

.footer {
	$this-bd: 1px solid rgba($black, .1);

	// First Footer Section //
	&__shops {
		border-top: $this-bd;
		border-bottom: $this-bd;
	}

	// Second Footer Section //
	&__informations {
		position: relative;
		border-bottom: $this-bd;

		&__inner {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			position: relative;
			padding: 50px 0;
		}

		&__wl {
			@include bp(md) {
				@include column-size((100% / 12) * 9);
				display: flex;
				align-items: center;
			}
		}

		&__logo {
			flex-shrink: 0;
			text-align: center;
			margin-bottom: 30px;

			@include bp(md) {
				margin-right: $gutter;
				margin-bottom: 0;
				width: 120px;
			}

			@include bp(xl) {
				margin-right: $gutter / 2;
				width: (100% / 9) * 2;
			}

			& img {
				@include image-fluid;
				width: 90px;
				height: auto;
			}
		}

		&__mentions {
			text-align: center;
			margin-bottom: 30px;

			@include bp(md) {
				text-align: left;
				margin-bottom: 0;
				padding-right: 3rem;
			}
		}

		&__copyright,
		&__contact,
		&__references {
			font-size: 1.3rem;
			line-height: 1.5rem;

			& span {
				display: block;
				visibility: hidden;
				height: 0;

				@include bp(md) {
					display: inline;
					visibility: visible;
					height: auto;
				}
			}
		}

		&__copyright {
			font-weight: $fw-text-bold;
			text-transform: uppercase;
			color: $orange;
			margin-bottom: 5px;
		}

		&__contact {
			font-weight: $fw-text-bold;
			color: $black;
			margin-bottom: 15px;
		}

		&__references {
			color: $gray;
		}

		&__perrigo {
			display: flex;
			justify-content: center;
			align-items: center;
			outline: none;

			@include bp(md) {
				@include column-size((100% / 12) * 3);
				border-left: $this-bd;
			}

			& img {
				@include image-fluid;
				width: 150px;
				transition: .4s cubic-bezier(0.68, -0.55, 0.265, 2) transform;
			}

			// States //
			@include hover-focus-active {
				& img { transform: scale(1.1); }
			}
		}
	}

	&__totop {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);

		@include bp(md) {
			right: 0;
			left: auto;
			transform: translateY(-50%);
		}
	}

	// Last Footer Section //
	&__legal {
		padding: 5rem;

		&__list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			list-style: none;

			@include bp(md) {
				flex-direction: row;
				align-content: center;
				align-items: center;
			}
		}

		&__item {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: center;

			&:not(:last-child) {
				margin-bottom: 1rem;

				@include bp(md) {
					margin-bottom: 0;
				}

				&::after {
					$h: 8px;
					$w: 8px;

					display: inline-block;
					height: $h;
					width: $w;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' overflow='visible'%3E%3Cpath d='M4.85 4l2.56-2.56.53-.53c.08-.08.08-.2 0-.28L7.37.06a.193.193 0 00-.28 0L4 3.15.91.06a.193.193 0 00-.28 0L.06.63c-.08.08-.08.2 0 .28L3.15 4 .06 7.09c-.08.08-.08.2 0 .28l.57.57c.08.08.2.08.28 0L4 4.85l2.56 2.56.53.53c.08.08.2.08.28 0l.57-.56c.08-.08.08-.2 0-.28L4.85 4z' fill='#{uri-col($orange)}'/%3E%3C/svg%3E");
					background-repeat: no-repeat;
					background-size: contain;

					@include bp(md) {
						content: '';
						margin: 0 2rem;
					}
				}
			}
		}

		&__link {
			font-size: 1.3rem;
			text-transform: uppercase;
			color: $gray;
			transition: $tr;

			// States //
			@include hover {
				color: $orange;
			}
		}
	}
}

.footer-copyright {
	text-align: center;
	padding-bottom: 20px;
	font-size: 1.4em;
}