// Hamburger //
// --------------------------------------- //
// --------------------------------------- //

.hamburger {
	display: block;
	border-radius: 50%;
	top: 20px;
	right: 20px;
	@include hamburger-base( $this-line-bgc: $black, );
	
	@media(hover: hover) {
		&:hover {
			transform: rotate(45deg);
			transition-duration: 0.275s;
			transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}

		&:hover & {
			@include hamburger-animation();
		}
		
		.nav-open &:hover {
			transform: rotate(45deg * 2); 
			transition-duration: 0.275s;
			transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}
	}
	
	.nav-open & {
		@include hamburger-animation();
	}
	
	&__line--2 {
		left: 10px;
		width: (30px - 10px);
	}
}