// Header //
// --------------------------------------- // 
// --------------------------------------- //

$header-size: 100px;
$header-size-md: 90px;
$header-size-lg: 120px;
$header-size-xl: 140px;

.header {
	&__logo {
		display: block;
		position: absolute;
		z-index: 1000;	
		top: 70px;
		left: 50%;
		margin-left: -( $header-size / 2 );
		width: $header-size;
		height: $header-size;
		transition: .5s cubic-bezier(0.68, -0.55, 0.265, 2);
		transition-property: transform, top, width, height;

		& img {
			height: auto;
			width: 100%;
		}
		
		@include hover-focus-active {
			transform: scale(1.1);
		}
		
		.nav-open & {
			$this-size: 70px;
			
			position: fixed;
			top: 15px;
			margin-left: -( $this-size / 2 );
			width: $this-size;
			height: $this-size;
		}
		
		&,
		.nav-open & {
			@include bp(md) {
				position: absolute;
				top: 0;
				left: 0;
				margin-top: 20px;
				margin-left: 20px;
				width: $header-size-md;
				height: $header-size-md;
			}
		}
		
		@include bp(lg) {
			width: $header-size-lg;
			height: $header-size-lg;
		}
		
		@include bp(xl) {
			width: $header-size-xl;
			height: $header-size-xl;
		}
		
		& img {
			width: 100%;
		}
	}
}

// Navbar //
// --------------------------------------- // 
// --------------------------------------- //

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	position: absolute;
	z-index: 30;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px;
	width: 100%;
	transition: .3s ease all;
	
	@include bp(md) {
		justify-content: flex-end;
		min-height: $header-size-md + 40px;
	}
	
	@include bp(lg) {
		min-height: $header-size-lg + 40px;
	}
	
	@include bp(xl) {
		min-height: $header-size-xl + 40px;
	}
	
	&__nav,
	&__lang,
	&__btn-discover {
		display: none;
		
		@include bp(md) {
			display: block;
		}
	}
	
	&__menu,
	&__btn {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}
	
	// Product links //
	&__nav {
		margin-right: 2rem;
			
		@include bp(lg) {
			margin-right: 4rem;
		}
			
		@include bp(xl) {
			margin-right: 5rem;
		}
	}
	
	&__link {
		color: $black;
		font-size: 1.4rem;
		font-weight: $fw-text-bold;
		text-transform: uppercase;
		transition: $tr;
		
		@include hover-focus-active {
			color: white;
		}
		
		&:not(:last-child) {
			margin-right: 1rem;
			
			@include bp(lg) {
				margin-right: 4rem;
			}
			
			@include bp(xl) {
				margin-right: 5rem;
			}
		}
	}
	
	// Buttons //
	&__btn {
		& .btn {
			&:not(:last-child) {
				margin-right: 1rem;
				
				@include bp(lg) {
					margin-right: 2rem;
				}
			}
		}
		
		&-discover.btn {
			display: none;
			
			@include bp(lg) {
				display: inline-block;
			}
		}
	}
	
	// Languages //
	&__lang {
		position: relative;
		margin-left: 2rem;
		cursor: pointer;
	}
	
	// Navscreen trigger //
	&__trigger {
		display: block;
		position: relative;
		z-index: 1000;
		cursor: pointer;
		
		@include bp(md) {
			display: none;
		}
	}
}

.lang {
	position: absolute;
	top: 100%;
	right: 0;
	margin: 2rem 0 0 0;
	padding: 0;
	height: 0;
	white-space: nowrap;
	list-style-type: none;
	opacity: 0;
	user-select: none;
	cursor: pointer;
	background: white;
	text-align: center;
	transition: .5s ease;
	transition-property: opacity, transform, box-shadow;
	overflow: hidden;
	transform: translateY(2rem);
	box-shadow: 30px -30px 40px rgba($black, .15);
	
	.navscreen__lang & {
		right: auto;
		left: -30px;
	}
	
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: -9px;
		right: 20px;
		height: 0;
		width: 0;
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent white transparent;
		
		.navscreen__lang & {
			right: auto;
			left: 20px;
		}
	}
	
	&,
	&__btn {
		color: $black;
		font-size: 1.4rem;
		font-weight: $fw-text-bold;
		text-transform: uppercase;
		cursor: pointer;
	}
	
	.navscreen__lang:hover &,
	.navbar__lang:hover & {
		opacity: 1;
		overflow: visible;
		user-select: auto;
		height: auto;
		transform: translateY(0);
		box-shadow: 30px 30px 40px rgba($black, .1);
	}
	
	&__btn {
		display: inline-block;
		padding-left: 18px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.5' height='4.36' %3E%3Cpath d='M.1.81a.35.35 0 010-.5L.31.1a.35.35 0 01.5 0l2.94 3L6.69.11a.35.35 0 01.5 0l.21.2c.14.14.14.36 0 .5L4 4.26a.37.37 0 01-.5 0L.1.81z' fill='white'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: left center;
		
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 95%;
			left: -10px;
			right: -10px;
			height: 2rem;
		}
	}
	
	&__item {
		&:not(:last-child) {
			border-bottom: 1px solid $light;
		}
	}
	
	&__link {
		display: block;
		padding: 1.5rem 3rem;
		background-color: transparent;
		transition: .8s ease background;
		
		@include hover-focus-active {
			background: $light;
		}
	}
}

// Navscreen //
// --------------------------------------- // 
// --------------------------------------- //

.navscreen {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 100vh;
	width: 100%;
	text-align: center;
	background-image: url('../../images/xls-weightloss-gradient.jpg');
	background-size: cover;
	user-select: none;
	
	// Simple Animation //
	z-index: -1;
	visibility: hidden;
	user-select: none;
	transform: translateX(-100vw);
	opacity: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	transition: .3s ease opacity;
	
	.nav-open & {
		visibility: visible;
		user-select: auto;
		z-index: 999;
		transform: none;
		opacity: 1;
		height: auto;
		width: auto;
		overflow: scroll;
		
		@include bp(md) {
			display: none;
		}
	}
	
	&__inner {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}
	
	// Header //
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 20px;
		height: 100px;
	}
	
	&__lang {
		display: inline-block;
		position: relative;
		z-index: 1000;
	}
	
	// Body //
	&__body {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		flex: 1 1 auto;
		flex-wrap: wrap;
		padding: 4rem 0;
	}
	
	&__product {
		display: flex;
		width: auto;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin: 2rem 3rem;
	}
	
	&__pack {
		width: 65px;
		margin-bottom: 15px;
		
		@include bp(xs) {
			width: 100px;
		}
	}
	
	&__title {
		color: $black;
		font-family: $ff-head;
		font-size: 1.8rem;
		font-weight: $fw-head-demi;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}
	
	// Footer //
	&__footer {
		padding: 1.5rem 0;
		
		.btn {
			margin: 1rem;
		}
	}
}