// Icons //
// --------------------------------------- // 
// --------------------------------------- //

.icon {
	display: inline-block;
	
	&--long-arrow-up {
		&::after {
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6.74' height='10.5' overflow='visible'%3E%3Cpath d='M.08 3.17L3.17.08c.11-.11.29-.11.4 0l3.09 3.09c.11.11.11.29 0 .4l-.46.46c-.11.11-.29.11-.4 0l-1.82-1.9v8.08c0 .16-.13.28-.28.28h-.66a.28.28 0 01-.28-.28V2.13L.94 4.03c-.11.11-.29.12-.4 0l-.46-.46a.284.284 0 010-.4z' fill='%23fff'/%3E%3C/svg%3E");
		}
	}
	
	&--btn {
		margin-right: .5em;
	}
}