// Lists //
// --------------------------------------- // 
// --------------------------------------- //


// Checklists //

@mixin checklist(
	$this-fz: 2rem,
	$this-pl: 3rem,
	
	$this-icon-sz: 1.8rem,
) {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
	
	&__item {
		position: relative;
		padding-left: $this-pl;
		
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 1.5em;
			left: 0;
			margin-top: -$this-icon-sz * 1.25;
			height: $this-icon-sz;
			width: $this-icon-sz;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.29' height='13.09' overflow='visible'%3E%3Cpath d='M16.71.14l.44.44c.18.18.18.48 0 .66L5.44 12.95a.47.47 0 01-.66 0L.14 8.31a.47.47 0 010-.66l.44-.44a.47.47 0 01.66 0l3.87 3.87L16.05.14c.18-.19.48-.19.66 0z' fill='#{uri-col($black)}'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

.checklist {
	@include checklist;
	
	&--inline {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -25px;
	}
	
	&--inline &__item {
		margin: 0 25px;
	}
	
	// Key visual variation //
	&--key & {
		&__item {
			color: white;
			font-size: 2rem;
			
			@include bp(sm) {
				font-size: 2.5rem;
				padding-left: 4rem;
			}
			
			@include bp(md) {
				font-size: 2rem;
				padding-left: 3rem;
			}
			
			@include bp(xl) {
				font-size: 2.5rem;
				padding-left: 4rem;
			}
			
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
			
			&::before {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.29' height='13.09' overflow='visible'%3E%3Cpath d='M16.71.14l.44.44c.18.18.18.48 0 .66L5.44 12.95a.47.47 0 01-.66 0L.14 8.31a.47.47 0 010-.66l.44-.44a.47.47 0 01.66 0l3.87 3.87L16.05.14c.18-.19.48-.19.66 0z' fill='#{uri-col($red)}'/%3E%3C/svg%3E");
			
				@include bp(sm) {
					height: 2rem;
					width: 2rem;
					margin-top: -2rem * 1.25;
				}

				@include bp(md) {
					height: 1.8rem;
					width: 1.8rem;
					margin-top: -1.8rem * 1.25;
				}

				@include bp(xl) {
					height: 2rem;
					width: 2rem;
					margin-top: -2rem * 1.25;
				}
			}
		}
	}
}