// Modals //
// --------------------------------------- //
// --------------------------------------- //

$modal-bp: 640px;

.popup {
	display: block;
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 20px 20px 0 20px;
	background: url;
	background-image: url('../../images/xls-weightloss-gradient.jpg');
	background-size: cover;
	background-position: center right;

	// Simple Animation //
	visibility: hidden;
	user-select: none;
	transform: translateX(-100vw);
	opacity: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	transition: .3s ease opacity;

	.popup-open &.popup--open {
		z-index: -1;
		visibility: visible;
		user-select: auto;
		z-index: 1000;
		transform: none;
		opacity: 1;
		height: auto;
		width: auto;
		overflow: scroll;
	}

	@media(min-width: $modal-bp) {
		padding-top: 100px;
	}

	&__inner {
		position: relative;
		margin: 0 auto 20px auto;
		padding: 80px 20px 20px 20px;
		width: 100%;
		max-width: 600px;
		background: white;
		box-shadow: 10px 10px 40px rgba($red, .7);
		transform: translateY(100vh);
		transition: .4s ease transform;
		transition-delay: .2s;

		.popup--open & {
			transform: translateY(0);
		}

		@media(min-width: $modal-bp) {
			margin-bottom: 60px;
			padding: 60px 50px 40px 50px;
		}
	}

	&__close {
		position: absolute;
		top: 20px;
		left: 50%;
		margin-left: -20px;
		height: 40px;
		width: 40px;
		cursor: pointer;
		border-radius: 50%;
		transition: .3s ease background;

		@media(min-width: $modal-bp) {
			top: 20px;
			right: 20px;
			left: auto;
			margin-left: 0;
		}

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -1px;
			margin-left: -10px;
			height: 2px;
			width: 20px;
			background: $black;
			border-radius: 2px;
			transform-origin: center center;
			transition: .3s ease transform;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		@include hover-focus-active {
			background: lighten($light, 10%);

			&::before,
			&::after {
				transform: rotate(0);
			}
		}
	}

	// Header //
	&__header {
		color: $black;
		font-weight: $fw-text-bold;
		text-align: center;
		margin-bottom: 3rem;

		@media(min-width: $modal-bp) {
			text-align: left;
		}

		&--center {
			@media(min-width: $modal-bp) {
				text-align: center;
			}
		}
	}

	&__title {
		font-size: 3rem;
		line-height: 1;
		text-transform: uppercase;

		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}

	&__subtitle {
		font-size: 2rem;
		text-transform: uppercase;
	}

	// Shops //
	&__shops {
		border-top: 1px solid $light;
		border-bottom: 1px solid $light;

		@include hover-focus-active {
			& .popup__shop {
				opacity: .75;
			}
		}
	}

	&__shop {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-around;
		flex-direction: column;
		padding: 2rem 2rem;
		width: 100%;
		transition: .3s ease all;

		@include bp(xs) {
			flex-direction: row;
		}

		&:not(:last-child) {
			border-bottom: 1px solid $light;
		}

		&-logo {
			width: 180px;
			margin: 1rem 0;

			& img {
				max-width: 100%;
			}
		}

		&-btn {
			margin: 1rem 0;
			@extend .btn;
			@extend .btn--sm;
			color: white;
			background: $black;
		}

		// Shop Hover //
		@include hover-focus-active {
			opacity: 1 !important;

			& .popup__shop-btn {
				background: $red;
				transform: scale(1.2);
			}
		}
	}

	// Footer //
	&__footer {
		position: relative;
		padding-top: 60px;

		&::before {
			content: '';
			position: absolute;
			display: block;
			top: 30px;
			width: 35px;
			height: 1px;
			background: $red;
		}
	}
}