// Products //
// --------------------------------------- // 
// --------------------------------------- //

.products {
	overflow: hidden;
	position: relative;
	z-index: 35;
	
	@include bp(md) {
		margin-top: -140px;
	}	
	
	&::before {
		content: '';
		display: block;
		position: relative;
		margin-right: auto;
		margin-left: auto;
		height: 65px;
		max-width: 100%;
		background: #FFF;
		
		@include bp(md) {
			margin-bottom: -25px;
			height: 140px;
			width: (map-get($theme-containers, md)) + 60px;
		}
		
		@include bp(lg) {
			width: (map-get($theme-containers, lg)) + 60px;
		}
		
		@include bp(xl) {
			width: (map-get($theme-containers, xl));
		}
	}
}

.product {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 10rem;
	
	// First Column //
	&__pack {
		position: relative;
		text-align: center;
		margin-bottom: 4.5rem;
		
		@include bp(md) {
			@include column-size((100% / 12) * 4);
			margin-bottom: 8rem;
		}
		
		@include bp(lg) {
			@include column-size((100% / 12) * 3.5);
		}
		
		@include bp(xl) {
			@include column-size((100% / 12) * 4);
		}
	}
	
	&__tabs {
		display: none;
		position: absolute;
		z-index: 10;
		
		@include bp(md) {
			display: block;
		}
		
		& img {
			width: 100%;
		}
		
		.product--wl & {
			width: 90px;
			top: 360px;
			right: -40px;
			
			@include bp(lg) {
				top: 350px;
				right: -60px;
			}
			
			@include bp(xl) {
				right: 0;
			}
		}
		
		.product--wlp & {
			width: 160px;
			top: 100%;
			left: 0;
			margin-top: 20px;
			
			@include bp(xl) {
				left: -50px;
			}
		}
	}
	
	// Second Column //
	&__content {
		@include bp(md) {
			@include column-size((100% / 12) * 7);
			margin-left: (100% / 12) * 1;
			margin-bottom: 8rem;
		}
		
		@include bp(lg) {
			@include column-size((100% / 12) * 7);
		}
		
		@include bp(xl) {
			@include column-size((100% / 12) * 6);
		}
	}
	
	// Title group //
	&__title-group {
		margin-bottom: 3rem;
	}
	
	&__title {
		@extend .h2;
	}
	
	&__subtitle {
		@extend %title-hyphen--gray;
	}
	
	// Texts //
	&__text {
		margin-bottom: 2rem;
		
		& p {
			@extend .p;
			font-size: 1.8rem;
			line-height: 2.5rem;
			
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
		
		&--small {
			margin-top: 3rem;
			
			& p {
				font-size: 1.5rem;
			}
		}
	}
	
	// Ingredients //
	&__ingredients {
		margin-bottom: 4rem;
		
		@include bp(md) {
			margin-bottom: 0;
		}
	}
	
	// Dosage //
	&__dosage {
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: relative;
		padding: 40px 0;
		width: 100%;
		
		@include bp(xl) {
			flex-direction: row;
			align-items: center;
		}
		
		&::before {
			content: '';
			display: block;
			position: absolute;
			z-index: -1;
			top: 0;
			right: -100vw;
			bottom: 0;
			left: -100vw;
		
			.product--wl & {
				@include bp(md) {
					left: 0;
				}
			}

			.product--wlp & {
				@include bp(md) {
					right: 0;
				}
			}
		}
		
		&__buttons {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 4rem;
			
			@include bp(xl) {
				@include column-size((100% / 12) * 2);
				margin-bottom: 0;
				margin-left: (100% / 12) * 1;
			}
			
			& .btn {
				width: 100%;
				max-width: 280px;
				transition-property: opacity, background, transform;
				
				@include bp(md) {
					transition: $tr !important;
					transform: none !important;
					animation: none !important;
					opacity: 1;
				}
				
				&:not(:last-child) {
					margin-bottom: 2rem;
				}
			}
		}
		
		&__schema {
			display: none;
			
			@include bp(md) {
				display: flex;
				justify-content: center;
				margin: 0 auto 3rem auto;
			}
			
			@include bp(xl) {
				@include column-size((100% / 12) * 5);
				margin-bottom: 0;
			}
			
			.product--wlp & {
				@include bp(xl) {
					@include column-size((100% / 12) * 4);
				}
			}
		}
		
		&__item {
			position: relative;
			
			&:not(:last-child) {
				margin-right: 6rem;
				
				&::after {
					font-size: 2.5rem;
					text-align: center;
					content: '+';
					display: block;
					position: absolute;
					top: 50%;
					left: 100%;
					width: 6rem;
				}
			}
		}
		
		&__advice {
			@extend .p;
			color: $black;
			text-align: center;
			position: relative;
			
			@include bp(md) {
				padding: 0 4rem;
			}
			
			@include bp(xl) {
				text-align: left;
				padding: 0;
				display: flex;
				@include column-size((100% / 12) * 4);
				padding-left: 7rem;
			}
			
			.product--wlp & {
				@include bp(xl) {
					margin-right: (100% / 12) * 1;
				}
			}
			
			&::after {
				content: '';
				display: none;
				position: absolute;
				top: 50%;
				left: 10px;
				width: 16px;
				height: 16px;
				margin-top: -8px;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.75' height='15.68'%3E%3Cpath d='M8.21.12l7.42 7.42c.16.17.16.43 0 .6l-7.42 7.42c-.16.17-.43.17-.6 0l-.25-.25a.435.435 0 010-.6l6.28-6.28H.42A.408.408 0 010 8.02v-.35c0-.23.19-.42.42-.42h13.21L7.36.97a.435.435 0 010-.6l.25-.25c.16-.16.43-.16.6 0z' fill='#{uri-col($black)}'/%3E%3C/svg%3E");
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				
				@include bp(xl) {
					display: block;
				}
			}
		}
	}
	
	// Color Variations //
	$variation-product: (
		'wl':  $orange,
		'wlp': $fushia
	);
	
	@each $name, $color in $variation-product {
		.product--#{$name} & {
			&__title,
			&__text--small p strong,
			&__dosage__advice p strong,
			&__dosage__item::after {
				color: $color;
			}
			
			&__subtitle::before {
				background-color: $color;
			}
			
			&__ingredients {
				& .block {
					border-color: $color;
				}
				
				& .checklist__item::before {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.29' height='13.09' overflow='visible'%3E%3Cpath d='M16.71.14l.44.44c.18.18.18.48 0 .66L5.44 12.95a.47.47 0 01-.66 0L.14 8.31a.47.47 0 010-.66l.44-.44a.47.47 0 01.66 0l3.87 3.87L16.05.14c.18-.19.48-.19.66 0z' fill='#{uri-col($color)}'/%3E%3C/svg%3E");
				}
			}
		
			&__dosage {
				&::before {
					background-color: rgba($color, .1);
				}
				
				&__advice::after {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.75' height='15.68'%3E%3Cpath d='M8.21.12l7.42 7.42c.16.17.16.43 0 .6l-7.42 7.42c-.16.17-.43.17-.6 0l-.25-.25a.435.435 0 010-.6l6.28-6.28H.42A.408.408 0 010 8.02v-.35c0-.23.19-.42.42-.42h13.21L7.36.97a.435.435 0 010-.6l.25-.25c.16-.16.43-.16.6 0z' fill='#{uri-col($color)}'/%3E%3C/svg%3E");
				}
			}
		}
	}
}