// Key visual //
// --------------------------------------- // 
// --------------------------------------- //

.key {
	padding-top: 100px;
	background-image: url('../../images/xls-weightloss-gradient.jpg');
	background-size: cover;
	
	@include bp(md) {
		padding-top: 130px;
	}
	
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		position: relative;
	}
	
	&__badge {
		display: none;
		position: absolute;
		z-index: 10;
		right: -10px;
		bottom: 80px;
		height: 100px;
		width: 100px;
		
		@include bp(xl) {
			display: block;
		}
		
		@include bp(sm) {
			right: 10px;
			bottom: 80px;
			height: 120px;
			width: 120px;
		}
		
		@include bp(md) {
			top: -80px;
			right: auto;
			bottom: auto;
			left: 0;
		}
		
		@include bp(xl) {
			top: -80px;
			right: auto;
			bottom: auto;
			left: -40px;
			height: 150px;
			width: 150px;
		}
		
		& img {
			width: 100%;
			height: auto;
		}
	}
	
	&__content {
		margin-bottom: 30px;
		
		@include bp(md) {
			@include column-size((100%/12)*6);
			order: 2;
			margin-bottom: 180px;
		}
	}
	
	&__title {
		@extend .h2;
		color: $black;
		text-align: center;
		margin-bottom: 2rem;
		
		@include bp(md) {
			text-align: left;
		}
	}
	
	&__hands {
		max-width: 320px;
		align-self: flex-end;
		
		@include bp(md) {
			@include column-size((100%/12)*5);
			margin-right: (100%/12)*1;
			margin-bottom: 100px;
			order: 1;
		}
		
		@include bp(lg) {
			margin-bottom: 0;
		}
		
		@include bp(xl) {
			@include column-size((100%/12)*6);
			margin-right: 0;
		}
		
		& img {
			max-width: 100%;
			height: auto;
		}
	}
}