// Introduction //
// --------------------------------------- // 
// --------------------------------------- //

.intro {
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 10rem auto;
		
		@include bp(lg) {
			align-items: flex-end;
			margin-top: -4rem;
		}
		
		@include bp(xl) {
			align-items: center;
			margin-top: -6rem;
		}
	}
	
	// Left side //
	&__content {
		margin-top: 4rem;
		margin-bottom: 4rem;
		
		@include bp(md) {
			@include column-size((100%/12)*6);
			margin-top: 0;
			margin-right: (100%/12) * .5;
			margin-bottom: 0;
		}
		
		@include bp(lg) {
			@include column-size((100%/12)*4.5);
			margin-top: 8rem;
			margin-right: (100%/12) * 1;
		}
		
		@include bp(xl) {
			@include column-size((100%/12)*5.5);
			margin-right: (100%/12) * 1;
			margin-left: (100%/12) * .5;
		}
	}
	
	&__title-group {
		margin-bottom: 3rem;
	}
	
	&__toptitle {
		@extend %title-hyphen--black; // In typography.scss //
		margin-bottom: 5px;
	}
	
	&__title {
		@extend .h2; // In typography.scss //
		color: $orange;
	}
	
	&__text {
		@extend .p; // In typography.scss //
		margin-bottom: 5rem;
	}
	
	// Right side //
	&__illustration {
		text-align: center;
		margin-bottom: -30px;
		
		@include bp(md) {
			@include column-size((100%/12)*5.5);
			margin-bottom: 0;
		}
		
		@include bp(lg) {
			@include column-size((100%/12)*6.5);
		}
		
		@include bp(xl) {
			@include column-size((100%/12)*5);
		}
	}
	
	&__image {
		$this-image-h: 938px;
		$this-image-w: 875px;
		$shadow-offset: 192px;
		
		display: inline-block;
		position: relative;
		width: 100%;
		max-width: 380px;
		
		@include bp(sm) {
			margin-left: (($shadow-offset / $this-image-w) * -75%);
		}
		
		@include bp(md) {
			margin-left: 0;
		}
		
		@include bp(lg) {
			max-width: 100%;
		}
		
		// Shadow
		&:before {
			content: '';
			display: block;
			position: absolute;
			z-index: 0;
			top: 1px;
			right: 1px;
			bottom: 1px;
			left: (($shadow-offset / $this-image-w) * 100%) + 1%;
			background: white;
			box-shadow: 10px 10px 40px rgba($black, .15);
		}
		
		& picture {
			position: relative;
			z-index: 1;
			width: 100%;
		}
		
		& img {
			width: 100%;
			height: auto;
		}
	}
	
	&__strong-point {
		position: absolute;
		z-index: 2;
		bottom: 25px;
		left: 10px;
		
		@include bp(md) {
			bottom: 10px;
			left: -10px;
		}
		
		& img {
			width: 75%;
			height: auto;
			
			@include bp(md) {
				width: 75%;
			}
		}
	}
}