// Landing //
// --------------------------------------- //
// --------------------------------------- //

.landing {
	position: relative;
	overflow: hidden;
	padding-top: 190px;
	background-image: url('../../images/xls-weightloss-gradient-2.jpg');
	background-size: cover;
	background-position: center right;

	@include bp(md) {
		padding-top: 140px;
	}

	@include bp(xl) {
		padding-top: 160px;
	}

	// Top //
	&__baseline {
		color: white;
		font-family: $ff-head;
		font-size: 4.5rem;
		line-height: 1;
		font-weight: $fw-head-light;
		text-align: center;
		position: relative;
		z-index: 10;
		margin-bottom: 3rem;

		@include bp(md) {
			font-size: 10rem;
		}

		& strong {
			display: block;
			font-weight: $fw-head-demi;

			@include bp(md) {
				display: inline;
			}
		}
	}

	// Pack //
	&__container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		position: relative;
		z-index: 11;

		@include bp(md) {
			flex-direction: row;
			justify-content: space-around;
		}

		@include bp(lg) {
			padding-bottom: 6rem;
		}
	}

	&__item {
		text-align: center;
		margin-bottom: 6rem;
	}

	&__pack {
		display: inline-block;
		max-width: 140px;

		margin-bottom: 3rem;
	}

	&__title-group {
		margin-bottom: 3rem;
	}

	&__title {
		@extend .h2;
		color: white;

		@include bp(md) {
			font-size: 3rem;
		}

		@include bp(lg) {
			font-size: 4rem;
		}
	}

	&__subtitle {
		color: $black;
		font-size: 2rem;
		font-weight: $fw-text-bold;
		text-transform: uppercase;
	}

	// Background Effect //
	&__ground {
		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			z-index: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		&::before {
			top: 40%;
			opacity: .5;
			background: linear-gradient(0deg, rgba(247,166,102,0.7) 0%, rgba(255,175,111,0.80) 50%, rgba(255,175,111,0.80) 70%, rgba(209,145,94,0) 100%);
		}
	}
}

/* 404 */
.landing {
	.white {
		color: $white;
	}
	&.page-404 {
		padding-bottom: 100px;
		.container {
			padding-top: 40px;
		}
		.list-inline {
			padding-top: 40px;
			text-align: center;
			li {
				list-style: none;
			}
			a {
				display: block;
				margin: 0 auto;
				max-width: 250px;
			}
		}
	}
}
