// Shops //
// --------------------------------------- // 
// --------------------------------------- //

.shops {
	$this-bd: 1px solid rgba($black, .1);
	
	display: flex;
	flex-direction: column;
	padding: 5rem 0;
	
	@include bp(lg) {
		align-items: center;
		flex-direction: row;
		padding: 0;
	}
	
	&__cta {
		color: $black;
		font-family: $ff-text;
		font-size: 2rem;
		font-weight: $fw-text-bold;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 3rem;
		
		@include bp(lg) {
			text-align: right;
			font-size: 1.5rem;
			@include column-size((100% / 12) * 2);
			padding: 5rem 2rem 5rem 0;
			margin: 0;
			border-right: $this-bd;
		}
		
		@include bp(xl) {
			padding-right: 3rem;
		}
		
		& strong {
			color: $orange;
			font-weight: $fw-text-bold;
		}
	}
	
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
		padding: 0;
		list-style: none;
		
		@include bp(lg) {
			@include column-size((100% / 12) * 10);
			flex-wrap: nowrap;
			justify-content: space-between;
			padding: 5rem 0 5rem 2rem;
		}
		
		@include bp(xl) {
			justify-content: space-around;
			padding-left: 3rem;
		}
	}
		
	&__item {
		padding: 1rem;
		
		@include bp(lg) {
			padding: 0 .5rem;
		}
	}
	
	&__link {
		display: block;
		outline: none;
		transition: .4s cubic-bezier(0.68, -0.55, 0.265, 2) transform;
		
		& img {
			@include image-fluid;
			width: 140px;
			height: auto;
		}
		
		// States //
		@include hover-focus-active {
			transform: scale(1.2);
		}
	}
}