// Staggered //
// --------------------------------------- // 
// --------------------------------------- //

.staggered {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
	&:not(:last-child) {
		margin-bottom: 8rem;
		
		@include bp(lg) {
			margin-bottom: 4rem;
		}
	}
	
	&__illustration {
		margin-bottom: 3rem;
		text-align: center;
		
		@include bp(md) {
			margin-bottom: 0;
			@include column-size((100% / 12) * 3);
		}
		
		& picture {
			@include image-fluid;
			margin-right: auto;
			margin-left: auto;
			width: 295px;
		}
		
		& img {
			max-width: 100%;
			height: auto;
		}
	}
	
	&__content {
		@include bp(md) {
			@include column-size((100% / 12) * 8);
		}
		
		@include bp(xl) {
			@include column-size((100% / 12) * 6);
		}
	}
	
	&__title {
		@extend %title-hyphen--black; // In typography.scss //
		margin-bottom: 1rem;
	}
	
	// Variation //
	&:nth-child(odd) & {
		&__illustration {
			@include bp(md) {
				order: 1;
			}
		}
		
		&__content {
			@include bp(md) {
				order: 2;
				margin-left: (100% / 12) * 1;
			}
		}
	}
	
	&:nth-child(even) & {
		&__illustration {
			@include bp(md) {
				order: 2;
			}
		}
		
		&__content {
			@include bp(md) {
				text-align: right;
				order: 1;
				margin-right: (100% / 12) * 1;
			}
		}
	
		&__title {
			@include bp(md) {
				justify-content: flex-end;
			}
		}
	}
}