// Typography //
// --------------------------------------- //
// --------------------------------------- //

// -- Headings //

%hyphen {
	content: '';
	display: inline-block;
	position: relative;
	top: .65em;
	margin-right: 1.5rem;
	height: 1px;
	width: 3.5rem;
	background: $orange;
}

%title-hyphen {
	text-align: left;
	text-transform: uppercase;
	display: flex;
	align-items: flex-start;

	&::before {
		@extend %hyphen;
	}
}

%title-hyphen--black {
	@extend %title-hyphen;
	color: $black;
	font-family: $ff-head;
	font-size: 1.5rem;
	font-weight: $fw-head-demi;
}

%title-hyphen--gray {
	@extend %title-hyphen;
	color: lighten($gray, 20%);
	font-family: $ff-text;
	font-size: 2rem;
	font-weight: $fw-text-bold;
}

.h2 {
	font-family: $ff-head;
	font-size: 3rem;
	font-weight: $fw-head-demi;
	line-height: 1;
	text-transform: uppercase;

	@include bp(md) {
		font-size: 4rem;
	}
}

// -- Text //

.p {
	color: $gray;
	font-family: $ff-text;
	font-size: 2rem;
	font-weight: $fw-text-regular;
	line-height: 1.5;

	& strong {
		color: $black;
		font-weight: $fw-text-bold;
	}
}

// -- Colors //

.color {
	@each $name, $value in $theme-colors {
		&--#{$name} { color: $value; }
	}
}

// -- Default text //

.content {
	& li,
	& p {
		@extend .p;

		& strong {
			color: $red;
		}
	}

	& p {
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	& ul,
	& ol {
		padding: 0;
		list-style-type: none;

		&:not(:last-child) {
			margin: 2rem 0;
		}
	}

	& li {
		position: relative;
		margin: 0 0 2rem 0;
		padding: 0 0 0 3rem;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 5px;
			left: 0;
			height: 20px;
			width: 15px;
			background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='13.12px' height='7.5px' viewBox='0 0 13.12 7.5' xml:space='preserve'%3E%3Cpath d='M9.61,0.1l3.41,3.4c0.14,0.14,0.14,0.36,0,0.5L9.61,7.4c-0.14,0.14-0.36,0.14-0.5,0L8.91,7.19 c-0.14-0.14-0.14-0.36,0-0.5l2.46-2.44H0.35C0.16,4.25,0,4.09,0,3.9V3.6c0-0.19,0.16-0.35,0.35-0.35h11.01L8.91,0.81 c-0.14-0.14-0.14-0.36,0-0.5L9.11,0.1C9.25-0.03,9.47-0.03,9.61,0.1z' fill='%23DD6242'/%3E%3C/svg%3E%0A");
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}
