// Variables //
// --------------------------------------- //
// --------------------------------------- //

// -- Variables //
@import "variables";

//@include test-screen-sizes($theme-bp);


// Fonts //
// --------------------------------------- //
// --------------------------------------- //

@include fontface(
	'Panton', '#{$font-path}Panton-Regular', normal, normal
);

@include fontface(
	'Panton', '#{$font-path}Panton-Bold', bold, normal
);


// Normalize //
// --------------------------------------- //
// --------------------------------------- //

@include normalize-document(
	$this-ff:  $ff-text,
	$this-fz:  10px,
	$this-fw:  300,
	$this-lh:  1.5,

	$this-bgc: #FFF,
	$this-col: $gray,

	$this-selection-bgc: $red,
	$this-selection-col: #FFF
);

@include normalize-typography(
	$this-heading-ma:    0,
	$this-paragraph-ma:  0,

	$this-address-ma:    0,
	$this-list-ma:       0,
	$this-blockquote-ma: 0,

	$this-strong-fw:     $fw-text-bold
);

@include normalize-links(
	$this-td:        none,
	$this-col:       inherit,
	$this-hover-td:  none,
	$this-hover-col: inherit
);

@include normalize-images(
	$this-figure-ma: 0,
);


// Layout //
// --------------------------------------- //
// --------------------------------------- //

.container {
	@include container(
		$gutter, // gutter
		$theme-containers, // container size map
		$theme-bp // breakpoints map
	);

	padding-right: 20px;
	padding-left: 20px;

	@include bp(xs) {
		padding: 0;
	}
}

.col {
	@include column(
		$gutter  // gutter
	);
}


// Typography //
// --------------------------------------- //
// --------------------------------------- //

@import 'typography';


// Components //
// --------------------------------------- //
// --------------------------------------- //

@import 'blocks';
@import 'buttons';
@import 'icons';
@import 'lists';
@import 'modals';
@import 'packs';
@import 'shops';


// Template elements //
// --------------------------------------- //
// --------------------------------------- //

// -- Header //
@import 'header';
@import 'hamburger';

// -- Main //

.main {
	font-size: 2rem;
}

// -- Footer //
@import 'footer';


// Section //
// --------------------------------------- //
// --------------------------------------- //

// -- Landing //
@import 'section-landing';

// -- Introduction //
@import 'section-intro';

// -- Key visual //
@import 'section-key';

// -- Products //
@import 'section-products';

// -- Highlights //
@import 'section-highlights';
@import 'staggered';
@import 'card';

// -- Patchwork //
@import 'section-patchwork';
