// Colors //
// --------------------------------------- //
// --------------------------------------- //

$black: #102328 !default;
$gray:  #788184 !default;
$light: #DDDBDB !default;

$fushia: #A6224B !default;
$red:    #DD6242 !default;
$orange: #F28A00 !default;
$white: #FFF;

$theme-colors: (
	'black':    $black,
	'gray':     $gray,

	'fushia':   $fushia,
	'red':      $red,
	'orange':   $orange,

	'wl':       $orange,
	'wlp':      $fushia,
) !default;


// Layout //
// --------------------------------------- //
// --------------------------------------- //

$gutter: 0;

// Breakpoints //
$theme-bp: (
	xs: 420px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1300px
) !default;

// Containers //
$theme-containers: (
	xs: 380px,
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1220px
) !default;


// Typography //
// --------------------------------------- //
// --------------------------------------- //

$font-path: '../../fonts/';

$ff-head: 'din-2014', sans-serif !default;
$fw-head-light: 300 !default;
$fw-head-demi: 600 !default;

$ff-text: 'Panton', sans-serif !default;
$fw-text-regular: normal !default;
$fw-text-bold: bold !default;


// Animations //
// --------------------------------------- //
// --------------------------------------- //

$tr: .3s ease all !default;
