// Screen sizes //
// --------------------------------------- // 
// --------------------------------------- //

@mixin test-screen-sizes( $this-bp ) {
	@at-root {
		body::before {
			display: block;
			position: fixed;
			z-index: 9000;
			right: 0;
			bottom: 0;
			font-size: 8px;
			line-height: 1;
			padding: .25rem .5rem;
			font-family: sans-serif;
			font-weight: bold;
			text-transform: uppercase;
			color: #FFF;
			background: #000;
			border: #FFF 2px solid;
			opacity: .75;
		}
	}
	
	@each $name, $value in $this-bp {
		@media (min-width: $value) {
			body::before {
				content: '#{$name}';
			}
		}
	}
}