// Cards //
// --------------------------------------- // 
// --------------------------------------- //

@mixin card(
	$this-pa:   2rem,
	$this-bdrs: 0,
	$this-bxs:  null,
) {
	display: flex;
	flex-direction: column;
	padding: $this-pa;
	border-radius: $this-bdrs;
	box-shadow: $this-bxs;
	
	&__body {
		flex: 1 1 auto;
	}
}