// Animations - Hamburgers //
// --------------------------------------- // 
// --------------------------------------- //

// -- Bases //
// --------------------------------------- //

@mixin hamburger-base(
	$this-burger-h:     30px,
	$this-burger-w:     30px,
	$this-burger-py:    5px,
	$this-burger-px:    5px,
	
	$this-line-spacing: 8px,
	
	$this-line-h:       2px,
	$this-line-w:       30px,
	$this-line-bgc:     #000,
	$this-line-bdrs:    2px,
) {
	display: block;
  overflow: visible;
	padding: $this-burger-py $this-burger-px;
  margin: 0;
	font: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  color: inherit;
	cursor: pointer;
	
	// Lines //
	&__lines {
		display: block;
		position: relative;
		height: $this-burger-h;
		width: $this-burger-w;
	}
	
	&__line {
		&--1,
		&--2,
		&--3 {
			display: block;
			position: absolute;
			width: $this-line-w;
			height: $this-line-h;
			background-color: $this-line-bgc;
			border-radius: $this-line-bdrs;
			
			transition-property: transform;
			transition-duration: 0.15s;
			transition-timing-function: ease;
		}
		
		&--1 {
			top: ((($this-burger-h / 2) - ($this-line-h / 2)) - $this-line-spacing);
				transition-duration: 0.275s;
      	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}
		
		&--2 {
			top: (($this-burger-h / 2) - ($this-line-h / 2));
		}
		
		&--3 {
			top: ((($this-burger-h / 2) - ($this-line-h / 2)) + $this-line-spacing);
			
		}
	}
}


// -- Animations //
// --------------------------------------- //

@mixin hamburger-animation(
	$this-animation-type: elastic,
	
	$this-burger-h:     30px,
	
	$this-line-spacing: 8px,
	$this-line-h:       2px,
	$this-line-w:       30px,
) {
	@if ($this-animation-type == elastic) {
		&__line {
			&--1 {
        transform: translate3d(0, $this-line-spacing, 0) rotate(135deg);
			}
			
			&--2 {
				transition-delay: 0s;
				opacity: 0;
			}
			
			&--3 {
				transform: translate3d(0, -$this-line-spacing, 0) rotate(-315deg);
				transition-delay: 0.075s;
			}
		}
	}
}