// Hover //
// --------------------------------------- // 
// --------------------------------------- //

@mixin hover() {
	@media (hover: hover) {
  	&:hover {
			@content;
		}
	}
}

@mixin hover-focus() {
	@media (hover: hover) {
  	&:hover {
			@content;
		}
	}
	
	&:focus {
		@content;
	}
}

@mixin hover-active() {
	@media (hover: hover) {
  	&:hover {
			@content;
		}
	}
	
	&:active {
		@content;
	}
}

@mixin hover-focus-active() {
	@media (hover: hover) {
  	&:hover {
			@content;
		}
	}
	
	&:focus,
	&:active {
		@content;
	}
}