// Images //
// --------------------------------------- // 
// --------------------------------------- //

// -- Responsive images //
// --------------------------------------- //

@mixin image-fluid() {
	flex: 0 0 auto;
	height: auto;
	max-width: 100%;
	
	// Preserve ration on Firefox & Safari //
	object-fit: scale-down; 
}