// Column //
// --------------------------------------- //
// --------------------------------------- //

// $gutter is in _variables.scss //

@mixin column( $this-gutter ) {
	flex: 0 0 100%;
	position: relative;
	width: 100%;
	max-width: 100%;
	padding-right: $this-gutter / 2;
	padding-left: $this-gutter / 2;
}

@mixin column-size( $this-size ) {
	flex: 0 0 $this-size;
	width: $this-size;
	max-width: $this-size;
}