// Containers //
// --------------------------------------- //
// --------------------------------------- //

// $gutter is in _variables.scss //

@mixin container-fluid( $this-gutter ) {
	width: 100%;
  padding-right: $this-gutter / 2;
  padding-left: $this-gutter / 2;
  margin-right: auto;
  margin-left: auto;
}

// Maps ($theme-container and $theme-bp) are available in _variables.scss //

@mixin container( $this-gutter, $this-container, $this-bp ) {
	@include container-fluid( $this-gutter );
	
	@each $name, $size in $this-container {
		@media (min-width: map-get($this-bp, $name)) {
			max-width: $size;
		}
	}
}