// Reset //
// --------------------------------------- // 
// --------------------------------------- //

// -- Normalize Document //
// --------------------------------------- // 

@mixin normalize-document(
	$this-ff:  sans-serif,
	$this-fz:  16px,
	$this-fw:  300,
	$this-lh:  1.5,
	
	$this-bgc: #FFF,
	$this-col: #000,
	
	$this-selection-bgc: #000,
	$this-selection-col: #FFF
) {
	@at-root {
		// Base
		*,
		*::before,
		*::after {
			box-sizing: border-box;
		}
		
		::selection {
			background-color: $this-selection-bgc;
			color: $this-selection-col;
		}
		
		html,
		body {
			margin: 0;
			padding: 0;
			font-family: $this-ff;
			font-size: $this-fz;
			font-weight: $this-fw;
			line-height: $this-lh;
		}
		
		html {
			-webkit-text-size-adjust: 100%;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
		}
		
		body {
			font-size: $this-fz;
			text-align: left;
			background-color: $this-bgc;
			color: $this-col;
		}
		
		// HTML 5 Correction
		article, aside, figcaption, figure,
		footer, header, hgroup, main,
		nav, section {
			display: block;
		}
		
		// Other Corrections
		[tabindex="-1"]:focus {
			outline: 0 !important;
		}
		
		hr {
			box-sizing: content-box;
			height: 0;
			overflow: visible;
		}
		
		output {
			display: inline-block;
		}

		summary {
			display: list-item;
			cursor: pointer;
		}

		template {
			display: none;
		}
		
		[hidden] {
			display: none !important;
		}
	}
}


// -- Normalize Typography //
// --------------------------------------- // 

@mixin normalize-typography(
	$this-heading-ma:    0 0 .5rem,
	$this-paragraph-ma:  0 0 .5rem,
	
	$this-address-ma:    0 0 .5rem,
	$this-list-ma:       0 0 .5rem,
	$this-blockquote-ma: 0 0 .5rem,
	
	$this-strong-fw:     600
) {
	@at-root {
		
		// Headings
		h1, h2, h3,
		h4, h5, h6 {
			margin: $this-heading-ma;
		}
		
		// Paragraphs
		p {
			margin: $this-heading-ma;
		}
		
		// Abbrevitions
		abbr[title] {
			text-decoration: underline;
  		text-decoration: underline dotted;
			border-bottom: 0;
			cursor: help;
			text-decoration-skip-ink: none;
		}
		
		// Adresses
		address {
			margin: $this-address-ma;
			font-style: normal;
			line-height: inherit;
		}
		
		// Lists
		ol,
		ul,
		dl {
			margin: $this-list-ma;
		}
		
		ol,
		ul {
			& ol,
			& ul {
				margin-bottom: 0;
			}
		}
		
		// Quotes
		blockquote {
			margin: $this-blockquote-ma;
		}
		
		// Emphasizes
		b, strong {
			font-weight: $this-strong-fw;
		}
		
		small {
			font-size: 80%;
		}
		
		sub,
		sup {
			position: relative;
			font-size: 75%;
			line-height: 0;
			vertical-align: baseline;
		}

		sub { 
			bottom: -.25em; 
		}
		
		sup { 
			top: -.5em;
		}
	}
}


// -- Normalize Links //
// --------------------------------------- // 

@mixin normalize-links(
	$this-td:        none,
	$this-col:       #007bff,
	$this-hover-td:  none,
	$this-hover-col: #6610f2
) {
	@at-root {
		a {
			text-decoration: $this-td;
			background-color: transparent;
			color: $this-col;
			
			&:hover {
				color: $this-hover-col;
				text-decoration: $this-hover-td;
			}
			
			&:not([href]):not([tabindex]) {
				color: inherit;
				text-decoration: none;
				
				&:hover,
				&:focus {
					color: inherit;
					text-decoration: none;
				}
				
				&:focus {
					outline: 0;
				}
			}
		}
	}
}


// -- Normalize Images //
// --------------------------------------- // 

@mixin normalize-images(
	$this-figure-ma: 0 0 .5rem,
	$this-img-ma:    null
) {
	@at-root {
		picture {
			display: inline-block;
		}
		
		figure {
			margin: $this-figure-ma;
		}
		
		img {
			margin: $this-img-ma;
			vertical-align: middle;
			border-style: none;
		}

		svg {
			overflow: hidden;
			vertical-align: middle;
		}
	}
}